root {
    --pramari
}

ul {
    list-style: none;
}

body {
  background-color: #f5f5f5;
  color: #757575;
}
/* nav */
.logo {
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* hero */
.hero .hero-title {
    color: #FFFFFF;
}
/* main */
.section .section-desc {
  color: #212121;
}
/* section */
.section .section-title {
  color: #212121;
}
/* avatar */
.section .section-avatar {
  color: #212121;
}


